[Desktop Entry]
Name=Instalar Canaima GNU/Linux
Name[es_VE]=Instalar Canaima GNU/Linux
GenericName=Instalar Canaima GNU/Linux
GenericName[es_VE]=Instalar Canaima GNU/Linux
Comment=Instalador de Canaima GNU/Linux
Comment[es_VE]=Instalador de Canaima GNU/Linux
Exec=su-to-root -X -c /usr/bin/canaima-instalador
Terminal=false
Type=Application
StartupNotify=true
Icon=software-properties
Categories=GNOME;GTK;Utility;
X-GNOME-FullName=Instalar Canaima GNU/Linux
X-GNOME-FullName[es]=Instalar Canaima GNU/Linux
