[Desktop Entry]
Name=Canaima Installer
Name[es]=Instalador de Canaima GNU/Linux
GenericName=Installer
GenericName[es]=Instalador
Comment=Installs Canaima GNU/Linux in your computer
Comment[es]=Instala Canaima GNU/Linux en tu computador
TryExec=canaima-instalador
Exec=su-to-root -X -c canaima-instalador
Terminal=false
Type=Application
StartupNotify=true
Icon=software-properties
Categories=GNOME;GTK;System;Settings;Utility;
