Source: canaima-instalador
Section: admin
Priority: extra
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: William Abrahan Cabrera Reyes <william@linux.es>, Erick Manuel Birbe Salazar <erickcion@gmail.com>, Luis Alejandro Martínez Faneyth <luis@huntingbears.com.ve>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-instalador.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-instalador/trees/master

Package: canaima-instalador
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python, python-gtk2, python-cairo, python-parted, python-webkit, squashfs-tools, reiserfsprogs, btrfs-tools, e2fsprogs, dosfstools, mtools, hfsutils, hfsprogs, jfsutils, util-linux, ntfsprogs, reiser4progs, xfsprogs, fatresize
Description: Instalador en vivo para medios instalables de Canaima GNU/Linux
 Este paquete prentende ser un instalador que pueda usarse en cualquier sabor
 de Canaima GNU/Linux.
