Source: canaima-instalador
Section: admin
Priority: extra
Maintainer: William Cabrera <william@linux.es>
Build-Depends: cdbs, debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
#Homepage: http://canaima.softwarelibre.gob.ve/
#Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-instalador.git
#Vcs-Browser: git://gitorious.org/canaima-gnu-linux/canaima-instalador.git

Package: canaima-instalador
Architecture: all
Version: 1.0
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-imaging, lshw, parted
Description: Instalador en vivo para medios instalables de Canaima GNU/Linux
 Este paquete prentende ser un instalador que pueda usarse en cualquier sabor
 de Canaima GNU/Linux
