#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Instalar Canaima GNU/Linux
Name[es_VE]=canaima-instalador.desktop
GenericName=Instalar Canaima GNU/Linux
GenericName[es_VE]=Instalar Canaima GNU/Linux
Comment=Instalador de Canaima GNU/Linux
Comment[es_VE]=Instalador de Canaima GNU/Linux
Exec=gksu canaima-instalador
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/icons/canaima-iconos/apps/scalable/software-properties.svg
Categories=GNOME;GTK;Utility;
X-GNOME-FullName=Instalar Canaima GNU/Linux
X-GNOME-FullName[es]=Instalar Canaima GNU/Linux
